<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Trent and Jake Golf Scores</h1>
    <a href="/new-round">Start new round</a>
    <table>
      <tr>
        <th>Course</th>
        <th>Date</th>
        <th>Jake's Score</th>
        <th>Trent's Score</th>
      </tr>
      <% games.forEach(game => { %>
      <tr>
        <td><%= game.course %></td>
        <td><%= game.date %></td>
        <td><%= game.jake_score %></td>
        <td><%= game.trent_score %></td>
      </tr>

      <% }) %>
    </table>
  </body>
</html>
